<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Tutorial agent</title>
  </head>
  <body>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
      intent="WELCOME"
      chat-title="my-agent"
      agent-id="decdd15c-003d-4224-9c0e-8b9a5c0e78ca"
      language-code="en"
    ></df-messenger>
    <p>Open the chat window in the bottom right corner.</p>
  </body>
</html>
